body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBCI-bBrCoxNC8GqO7crRTKQhUDxEQIiSBSw&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  }